.list-header-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #ffffff75;
    font-size: 18px;
    background-color: #80808061 !important
}

.list-header-container > input {
    width: 3%;
}

.list-header-container > div:nth-child(2) {
    width: 33%;
}

.list-header-container > div:nth-child(3) {
    width: 20%;
}

.list-header-container > div:nth-child(4) {
    width: 15%;
}

.list-header-container > div:nth-child(6) {
    width: 15%;
}

.list-header-container > svg:nth-child(7) {
    width: 5%;
}