.card-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.card-container > input {
    position: absolute;
    top:5px
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-actions > svg:first-child {
    margin-right: 8px;
}